.case-details-container {
    max-width: 100%;
    height: 71vh;
    overflow-x: auto;
    overflow-y: auto;
}

.popup-containera {
    width: 40%;
    padding: 20px 20px 20px 0px;
    position: relative; /* For the close icon */
  }

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-btn {
    position: absolute;
    height: 10px;
    width: 10px;
    align-items: left;
}

h5 {
    margin: 0;
    text-align: left;
    font-size: 14px;
}

.custom-table {
   padding: 10%;
    background-color: #f7f7f7;
    table-layout: auto;
    width: 100%;
    margin-bottom: 0px ;
  
}
.btn-close { 
    width: 0px;
}

.custom-table th  {
    background-color: white !important    ;
    font-size: 12px  !important;
    padding: 3px; 
  color: black;
  font-weight:bold ;
  font-family: sans-serif;
    width: 30%
}

.custom-table td {
    background-color:white !important;
    font-size:12px !important;
    padding: 3px ; 
    font-family: sans-serif;
    color: #0a0909;
    vertical-align: middle; 
  
}