/* Popup Overlay */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: right;
    align-items: center;
    z-index: 1050;
  }
  
  /* Popup Container */
  .popup-container {
    width: 40%;
    height: 100%;
    padding: 10px;
    /* overflow-y: auto; */
    position: relative; /* For the close icon */
    
  }
  
  /* Close Icon */
  .close-icon {
    position: absolute;
   top: 3px;
    right: 10px;
    font-size: 20px;
    background: none;
    border: none;
    color: #333;
    cursor: pointer;
    padding: 20px;
    
  }
  
  .close-icon:hover {
    color: #000;
  }
  
  /* Popup Content */
  .popup-content {
    background-color: darkgray;
    color: #000;
    padding: 20px;
    border-radius: 5px;
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); */
  }
  
  .popup-content h5 {
   font-size: 14px;
  }
  
  /* Form Fields */
  label {
    display: block;
    font-weight: bold;
    color: #333;
    font-size: 12px;
  }
  
  .com {
    width: 100%;
     border: 1px solid #ccc; 
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    font-size: 12px;
  }
  .com:focus { 
    border-color: transparent; /* Focus border color ko remove karne ke liye */
     box-shadow: none; /* Focus box-shadow ko remove karne ke liye */ 
    outline: none; /* Focus outline ko remove karne ke liye */ }
  textarea {
    height: 60px;
    resize: vertical;
  }
  
  /* Input Field with Search Icon */
  .input-with-icon {
    position: relative;
  }
  
  .search-icon {
    position: absolute;
    left: 10px;
    top: 40%;
    transform: translateY(-50%);
    color: #aaa;
    font-size: 12px;
  }
  
  .input-with-icon input {
    padding-left: 30px; /* To make space for the search icon */
  }
  
  /* Buttons */
  .button-container {
    display: flex;
    justify-content: space-between;
  }
  
  .cancel-btn,
  .create-btn {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    margin-left: 5px;
    margin-top: 15px;
  }
  
  .cancel-btn,.create-btn{
    background-color: #ccc;
    color: #000;
  }
  
 
 
  
  .cancel-btn:hover,
   .create-btn:hover {
    background-color:black;
    color: white;
  }
  