.dashboard-container {
    display: grid;
    grid-template-columns: 4% 92% 4%; 
    height: 567px;
  
   
  
  }
  
 
  .cont-a, .cont-c {
    background-color: black;
    color: white;
  }
  
  
  .cont-b {
    display: flex;
    flex-direction: column;
  }
  

  .row-1 {
    margin-left: 0px;
  
   
  }
 
  