.analyze-btn {
  border: none;
    border-radius: 5px;
    background-color: gray;
    color: white;
    margin-top: 0px !important;
    margin-right: 40px;
    font-size: 12px;
    padding: opx !important;
  
  }
  .analyze-btn:hover {
   background-color: black;
   border-color: black;
  
  }
  .caseName{
    font-size: 20px;
    font-weight: bold;

  }
  .custom-containerH {
    margin-left: -10px !important;
    padding-right: 0 !important;
  }
  .nav-tabs .nav-link {
      
    --bs-nav-tabs-border-width:none !important ;}
    