.login-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
}

.login-row {
    width: 100%;
    height: 100vh;
}

h1 {
    margin-top: 5rem;
    margin-left: 5rem;
}

.right-column {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
}


.right-column {
    flex-direction: column;
}

.login-form {
    width: 100%;
    max-width: 300px;
}

.login-form .form-control {
    background-color: grey;
    color: white;
    border: none;
    margin-bottom: 15px;
    font-size: 12px;
    height: 2.5rem;
}

.forgot-password-link {
    color: white;
    text-decoration: none;
    text-size-adjust: 2px;
}


.login-button {
    background-color : gray;
    width: 30%;
    height: 2.2rem;
    border: none;
    color:white;
    border-radius: 0.375rem;
}
.login-button:hover{

    background-color: #282828;
}

.labell{
    color: white;
}
.labell input:focus,
.form-control:focus {
    outline: none; 
    box-shadow: none; 
    border-color: none; 
    
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white !important;
    box-shadow: 0 0 0px 1000px white !important;
    transition: background-color red 5000s ease-in-out 0s;
  }
  
@media (max-width: 768px) {
    .login-row {
        width: 100%;
        height: 60%;
    }
    .left-column, .right-column {
        flex: 1 0 100%; /* Take full width on smaller screens */
        padding: 10px; /* Adjust padding for smaller screens */
    }

    h1 {
        font-size: 1.5rem; /* Adjust font size for smaller screens */
        margin-top: 1rem;
        margin-left: 0;
        text-align: center; /* Center align on smaller screens */
    }

    .login-form {
        max-width: 100%; /* Full width on smaller screens */
    }
}