.col1 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px; /* Reduced size */
    width: 20px;
  }
  
  .icon-style {
    color: gray;
   size: 25px;
  }
  
  .icon-style:hover {
    color: lightgrey;
    background-color: black;
   

    
  }

   