

.main-body-div{
    height: 100 vh;
    background-color: #ffffff;
}

.add-new-filter-button{
    color: #000000;
    background-color: #ffffff;
    border: 1px solid #000000;

}
.add-new-filter-button:hover{
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #000000;
}

.main-body-div-1st-row{
    border-bottom:1px solid #000000;
    margin: 0px -24px 0px -24px;
}
.search-button{
    background-color:"transparent";
    color:#000000;
    border-style:none;
    margin:0px 10px 0px 10px;
}
/* .search-bar-input{
    width: 150px;
    border: 0.5px solid #000000;
} */
.search-input:focus{
    /* width: 150px; */
    border: 0.5px solid #000000;
    box-shadow: none;
}

.sort-filters{
    color: #000000;
    background-color:213c4f;
    border-style:none;
}

.existing-filters-ul{

    overflow:auto;
    height:300px;
    scrollbar-width:thin;

}

.existing-filters-li{

    background-color: #ffffff ; 
    border: 1px solid #000000 ;

}

.close-add-filter-button{
        background-color: #ffffff;
        color: #000000;
        border-style: none;
        position: relative;
        left: 840px;
        
    }

.proceed-button{
    position: relative;
    left: 70rem;
    top: .5rem;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
}

.proceed-button:hover{
    position: relative;
    left: 70rem;
    top: .5rem;
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #000000;
}

.existing-filters-li-p{
    font-size: 14px;
    font-weight: 500;
    margin: 0px;
    color: #000000;
}
/*add new filter*/

.filter-name-input{
    background-color: #ffffff;
    border:1px solid #000000;
}
.filter-name-input:focus{
    background-color: #ffffff;
    box-shadow: none;
    border: 1px solid #000000;
}

.description-text-area {
    background-color: #ffffff;
    border: 1px solid #000000;
  }
.description-text-area:focus{
    background-color: #ffffff;
    box-shadow: none;
    border: 1px solid #000000;
}
.source-container {
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: #ffffff;
  }

.source-container-expanded {
    height: 170px;
  }

.source-container-collapsed {
    height: 100px;
  }

  .source-label {
    margin: 8px 16px;
  }

  .source-select {
    max-width: 30%;
    background-color: #ffffff;
    border: 1px solid #000000;
    margin: 0px 16px;
    font-size: 15px;
  }
  .source-select:focus {
    box-shadow: none;
    border: 1px solid #000000;
  }

  .keywords-dropdown {
    max-width: 120%;
    margin: 0px 16px;
    font-size: 15px;
  }

  .keywords-dropdown-toggle {
    background-color: #ffffff;
    border: 1px solid #000000;
    color: #000000;
    
  }
  .keywords-dropdown-toggle:hover{
    background-color: #ffffff;
    border: 1px solid #000000;
    color: #000000;
    
  }
  .keywords-dropdown-toggle:active{
    background-color: #ffffff;
    border: 1px solid #000000;
    color: #000000;
    
  }
  .keywords-dropdown-toggle:focus{
    background-color: #ffffff;
    border: 1px solid #000000;
    color: #000000;
    
  }

  .keywords-dropdown-menu {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
  }

.dd-opts-metadata{
    color: #808080;
    font-size: 10px;
}

.monitoring-interval-input{
    width: 20%;
    position: relative;
    left: 1rem;
    background-color: #ffffff;
    border: 1px solid #000000;
    
}
.monitoring-interval-input:focus{
    background-color: #ffffff;
    box-shadow: none;
    border: 1px solid #000000;
}

.monitoring-interval-options {
    position: relative;
    right: 165px;
    background-color: #ffffff;
    border: 1px solid #000000;
    max-width: 40%;
  }
.monitoring-interval-options:focus {
    box-shadow: none;
    border: 1px solid #000000;
  }

.form-labell {
    color: black  ;
}
.search_input {
    /* width: 100%; */
    padding: 10px;
     /* margin-bottom: 15px;  */
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    font-size: 14px;
    height: 7px !important;
}
.col-md-4 {
  flex: 0 0 auto;
  width: 23.33333333%;
}

